include README.md openre-domain openre-agent requirements.txt openre-broker openre-proxy setup.cfg MANIFEST.in openrectl openre-server setup.py LICENSE
recursive-include openre/templates *
recursive-include bin *
